<div class="example-box" cdkDragLockAxis="x" cdkDrag cdkDragBoundary=".scrollable-container"
(cdkDragStarted)="onDragStarted($event)" cdkDragBoundary=".scrollable-container">Item 01</div>
<div class="example-box" cdkDragLockAxis="x" cdkDrag cdkDragBoundary=".scrollable-container">Item 02</div>
<div class="example-box" cdkDragLockAxis="x" cdkDrag cdkDragBoundary=".scrollable-container">Item 03</div>
<div class="example-box" cdkDragLockAxis="x" cdkDrag cdkDragBoundary=".scrollable-container">Item 04</div>
<!--<div class="example-box" cdkDragLockAxis="x" cdkDrag>Item 05</div>-->
<!--<div class="example-box" cdkDragLockAxis="x" cdkDrag>Item 06</div>-->
<!--<div class="example-box" cdkDragLockAxis="x" cdkDrag>Item 07</div>-->
<!--<div class="example-box" cdkDragLockAxis="x" cdkDrag>Item 08</div>-->
<!--<div class="example-box" cdkDragLockAxis="x" cdkDrag>Item 09</div>-->
<!--<div class="example-box" cdkDragLockAxis="x" cdkDrag>Item 10</div>-->

