.example-form {
  min-width: 150px;
  /*max-width: 500px;*/
  width: 100%;
}

.example-full-width {
  width: 100%;
  padding-right: 1rem;
}
.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}
.btn-width{
  min-width: 100px;
  margin: 1rem;
}
