<form [formGroup]="registerCourse" class="example-form">
  <mat-form-field>
    <mat-label>Course ID</mat-label>
    <input type="text" matInput formControlName="id" placeholder="Ex. C-001">
<!--    <mat-error *ngIf="id.hasError('email') && !emailFormControl.hasError('required')">-->
<!--      Please enter a valid email address-->
<!--    </mat-error>-->
<!--    <mat-error *ngIf="id.hasError('required')">-->
<!--      Email is <strong>required</strong>-->
<!--    </mat-error>-->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Course Name</mat-label>
    <input type="text" matInput formControlName="name" placeholder="Ex. Angular 16 Course">
    <mat-error *ngIf="registerCourse.get('name')?.hasError('required')">
      Course Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input type="text" matInput formControlName="description" placeholder="Ex. Angular for beginners">
    <mat-error *ngIf="registerCourse.get('description')?.hasError('required')">
      Description is <strong>required</strong>
    </mat-error>
  </mat-form-field>

<!--  <wije-image-upload [btnName]="'Choose Image'" [formControlName]="'image'"></wije-image-upload>-->

  <h4>mat-select</h4>
  <mat-form-field>
    <mat-label>Select Teacher</mat-label>
    <mat-select (click)="setTeacherIDs()" formControlName="teacherID">
      <mat-option>Clear</mat-option>
      <mat-option *ngFor="let teacher of teachersID" value='1'>{{teacher}}</mat-option>
    </mat-select>
    <mat-error *ngIf="registerCourse.get('teacherID')?.hasError('required')">You must make a selection</mat-error>
  </mat-form-field>
</form>

