.scrollable-container {
  margin-left: 20rem;
  height: 400px; /* Set the desired height */
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 800px;
}

