<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar [style]="{backgroundImage: 'url(' + courseDetails.teachersImage + ')', backgroundSize: 'cover'}"></div>
    <mat-card-title>{{courseDetails.name}}</mat-card-title>
    <mat-card-subtitle>{{courseDetails.teachersName}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="image" src="{{courseDetails.image}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{courseDetails.description}}
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Add to cart</button>
    <p>
      {{courseDetails.price}}
    </p>
  </mat-card-actions>
</mat-card>
