/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-form {
  min-width: 150px;
  /*max-width: 500px;*/
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.file-name {
  margin-left: 1rem; /* or whatever margin you require */
}
.btn-width{
  min-width: 100px;
  margin: 1rem;
}
